<div id="bookmark-{{ bookmark.uuid }}">
	<h3><a href="{{ bookmark.url }}">{{ bookmark.title }}</a>&nbsp;<a href="{{ bookmark.get_absolute_url }}">#</a></h3>
	<div class="meta">
		<p class="alt">
			Published by <span class="vcard"><span class="fn">{{ bookmark.author.get_full_name }}</span></span>
			<span class="published" title="{{ bookmark.published }}">{{ bookmark.published|timesince }}</span> ago.
		</p>
		{% if bookmark.tags.all %}<p class="alt tags">
			{% for tag in bookmark.tags.all %}<a href="{% url bookmark_tag_detail tag.slug|urlencode %}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% ifequal forloop.revcounter0 1 %} and {% endifequal %}{% endfor %}
		</p>{% endif %}
	</div>
	{% if bookmark.body_html %}<div class="entry-content">{{ bookmark.body_html|safe }}</div>{% endif %}
</div>