{% extends "bookmarks/base_bookmarks.html" %}

{% block title %}{{ block.super }}: Bookmarks{% endblock %}

{% block content_title %}
	<h2>Bookmarks</h2>
{% endblock %}

{% block content %}
	{% for bookmark in bookmarks.object_list %}{% include "bookmarks/_bookmark.html" %}{% endfor %}
	
	{% if has_other_pages %}
		<ul id="pagination">
			{% if bookmarks.has_previous %}
				<li class="previous on"><a href="{% url bookmark_index_paginated bookmarks.previous_page_number %}" title="Page {{ bookmarks.previous_page_number }}">Previous</a></li>
			{% else %}
				<li class="previous off">Previous</li>
			{% endif %}
			{% for page in bookmarks.page_range %}
				{% ifequal page bookmarks.page_number %}
					<li class="active">{{ page }}</li>
				{% else %}
					<li><a href="{% url bookmark_index_paginated page %}">{{ page }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if has_next %}
				<li class="next on"><a href="{% url bookmark_index_paginated bookmarks.next_page_number %}" title="Page {{ bookmarks.next_page_number }}">Next</a></li>
			{% else %}
				<li class="next off">Next</li>
			{% endif %}
		</ul>
	{% endif %}
{% endblock %}