{% extends "bookmarks/base_bookmarks.html" %}

{% block title %}{{ block.super }}: Bookmarks Tags{% endblock %}

{% block content_title %}
	<h2>Bookmarks Tags</h2>
{% endblock %}

{% block content %}
	<ul id="bookmarks_tags" class="tag_cloud">
		{% for tag in tags %}
			<li><a href="{% url bookmark_tag_detail tag.slug|urlencode %}">{{ tag.name }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}